body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #d7d3cb;
  padding:0 10%;
  color: #191c1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding-bottom: 20px;
}